header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white
}

header img {
  width: 120px;
  border-radius: 50%
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  /* Quita el subrayado */
  color: inherit;
  /* Usa el color del texto del contenedor */
}

header ul li {
  background-color: rgb(192, 192, 192);
  ;
  padding: 10px;
  color: black;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  transition: scale 0.2s;
}

header ul li:hover {
  scale: 1.05;
}

main {
  padding: 20px;
  min-height: 100vh;
}

footer {
  background-color: rgba(29, 29, 29, 0.473);
  padding: 20px;
  text-align: center;
}