header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 115px;
  position: relative;
  z-index: 1;
}

header img {
  width: 85px;
  position: relative;
  top: 0px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header ul li {
  text-decoration: none;
  background-color: rgb(192, 192, 192);
  padding: 15px;
  color: black;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  transition: scale 0.2s;
}

header ul li:hover {
  scale: 1.05;
}

main {
  padding: 20px;
  gap: 20px;
}

footer {
  background-color: rgba(29, 29, 29, 0.473);
  padding: 20px;
  text-align: center;
}

header ul li a {
  text-decoration: none;
  color: black
}